<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Mercado Liebre!!</title>
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo de la empresa">
            <div class="search-bar">
                <input type="text" placeholder="Search..">
                <i class="fas fa-search"></i>
              </div>
            <h2 class="fill-top-bar"><i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <div class="bottom-bar">
            <a href="#" class="humburger-menu">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="navbar">
                <ul class="navbar-left">
                    <li><a href="sales.html">Ofertas</a> </li>
                    <li><a href="officialStores.html"> Tiendas Oficiales</a></li>
                    <li><a href="sell.html"> Vender</a></li>
                    <li><a href="help.html">Ayuda</a> </li>
                </ul>

                <ul class="navbar-right">
                    <li><a href="register.html">Crea tu cuenta <i class="fas fa-credit-card"></i></a></li>
                    <li><a href="logIn.html">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="basket.html">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section>
        <img class="banner" src="images/img-home-banner.jpg" alt="banner">
    </section>
    
    <main class="main">
        <section class="Section-ultima-visita">
            <h2>Basado en tu ultima visita</h2>

            <article class="product-box">
                <img class="img-main" src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-info">
                    <i class="fas fa-truck"></i>
                    <div class="precios-main">$6.770</div>
                    <div class="descuento-main">40% OFF</div>
                    <div class="descripcion-main">Cafetera Moulinex</div>
                </div>   
            </article>
            
            <article class="product-box">
                <img class="img-main" src="images/img-macbook-pro-2019.jpg" alt="Macbookpro">
                <div class="product-info">
                    <i class="fas fa-truck"></i>
                    <div class="precios-main">$230.000</div>
                    <div class="descuento-main">20% OFF</div>
                    <div class="descripcion-main">MacBookPro 2019</div>
                </div> 
            </article>

            <article class="product-box">
                <img class="img-main" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Smart Phone">
                <div class="product-info">
                    <i class="fas fa-truck"></i>
                    <div class="precios-main">$70.500</div>
                    <div class="descuento-main">10% OFF</div>
                    <div class="descripcion-main">Samsung Galaxt S10</div>
                </div>
            </article>
            
            <article class="product-box">
                <img class="img-main" src="images/img-tv-samsung-smart.jpg" alt="Samsung Tv">
                <div class="product-info">
                    <i class="fas fa-truck"></i>
                    <div class="precios-main">$23.200</div>
                    <div class="descuento-main">5% OFF</div>
                    <div class="descripcion-main">SmartTv Samsung 43"</div>
                </div>
            </article>       
        </section>

        <section class="section-ofertas">
            <h2>Ofertas</h2>
            
            <article class="product-box">
                <img class="img-main" src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-info">
                    <i class="fas fa-truck"></i>
                    <div class="precios-main">$6.770</div>
                    <div class="descuento-main">40$ OFF</div>
                    <div class="descripcion-main">Cafetera Moulinex</div>
                </div>
            </article>
            
            <article class="product-box">
                <img class="img-main" src="images/img-macbook-pro-2019.jpg" alt="Macbookpro">
                <div class="product-info">
                    <i class="fas fa-truck"></i>
                    <div class="precios-main">$230.000</div>
                    <div class="descuento-main">20% OFF</div>
                    <div class="descripcion-main">MacBookPro 2019</div>
                </div>
            </article>
            
            <article class="product-box">
                <img class="img-main" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Smart Phone">
                <div class="product-info">
                    <i class="fas fa-truck"></i>
                    <div class="precios-main">$70.500</div>
                    <div class="descuento-main">10% OFF</div>
                    <div class="descripcion-main">Samsung Galaxt S10</div>
                </div>
            </article>
        </section>
    </main>

    <footer class="main-footer">
        <i class="fas fa-credit-card"></i>
        <h3 class="titles-footer">Paga con tarjeta o en efectivo</h3>
        <p class="text-footer">Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de
            pago
        </p>
        <i class="fas fa-gift"></i>
        <h3 class="titles-footer">Envio gratis desde $2.500</h3>
        <p class="text-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es
            un beneficio de Mercado Puntos.</p>
        <i class="fas fa-user-shield"></i>
        <h3 class="titles-footer">Seguridad de principio a fin</h3>
        <p class="text-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
            estás siempre protegid@.</p>
        <h3 class="copyright-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
</body>

</html>