<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Mercado Liebre!!</title>
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <a href="/">
                <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo de la empresa">
            </a>
            <form class="search-bar">
                <input type="text" placeholder="Search..">
                <i class="fas fa-search"></i>
            </form>
            <h2 class="fill-top-bar"><i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <div class="bottom-bar">
            <a href="#" class="humburger-menu">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="navbar">
                <ul class="navbar-left">
                    <li><a href="sales">Ofertas</a> </li>
                    <li><a href="officialStores"> Tiendas Oficiales</a></li>
                    <li><a href="sell"> Vender</a></li>
                    <li><a href="help">Ayuda</a> </li>
                </ul>

                <ul class="navbar-right">
                    <li><a href="register">Crea tu cuenta <i class="fas fa-credit-card"></i></a></li>
                    <li><a href="login">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="basket">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <form class="form-register" action="/" method="GET">
            <h2>Datos Basicos</h2>
            <label for="nombre"></label>
            <input type="text" name="nombre" id="nombre" minlength="2" placeholder="Nombre y Apellido">


            <label for="nombreUsuario"></label>
            <input type="text" name="nombreUsuario" id="nombreUsuario" minlength="2" placeholder="Nombre de Usuario">

            <h2>Fecha de Nacimiento</h2>
            <label for="nacimiento"></label>
            <input type="date" name="nacimiento" id="nacimiento">


            <label for="domicilio"></label>
            <input type="text" name="domicilio" id="domicilio" minlength="2" placeholder="Domicilio">


            <h2>Perfil del Usuario</h2>
            <div class="perfil-box">
                <label for="perfil"></label>
                <div class="vendedor">
                    <h4>Vendedor</h4>
                    <input type="radio" name="perfil" id="perfil">
                </div>
                <div class="comprador">
                    <h4>Comprador</h4>
                    <input type="radio" name="perfil" id="perfil">
                </div>
            </div>

            <h2>Intereses</h2>
            <div class="intereses-box">
                <label for="intereses"></label>
                <div class="box1-intereses">
                    <h4>Electro</h4>
                    <input type="checkbox" name="intereses" id="intereses">
                    <h4>Moda</h4>
                    <input type="checkbox" name="intereses" id="intereses">
                    <h4>Hogar</h4>
                    <input type="checkbox" name="intereses" id="intereses">
                </div>

                <div class="box2-intereses">
                    <h4>Jugetería</h4>
                    <input type="checkbox" name="intereses" id="intereses">
                    <h4>Vida Sana</h4>
                    <input type="checkbox" name="intereses" id="intereses">
                    <h4>Deporte</h4>
                    <input type="checkbox" name="intereses" id="intereses">
                </div>

            </div>

            <div class="foto-box">
                <h2>Foto del Usuario</h2>
                <label for="foto"></label>
                <input type="file" name="foto" id="foto">
            </div>

            <h2>Contraseña</h2>
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Contraseña" minlength="8">

            <h2>Confirmar Contraseña</h2>
            <label for="password"></label>
            <input type="password" name="confirmpassword" id="confirmpassword" required
                placeholder="Confirmar contraseña" minlength="8">

            <div class="botones-box">
                <div class="enviar-boton-register">
                    <a href="/">
                        <input type="submit" value="Enviar">
                    </a>
                </div>

                <div class="reset-boton-register">
                    <input type="reset" value="Borrar">
                </div>
            </div>

        </form>

    </main>

    <footer class="main-footer">
        <i class="fas fa-credit-card"></i>
        <h3 class="titles-footer">Paga con tarjeta o en efectivo</h3>
        <p class="text-footer">Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de
            pago
        </p>
        <i class="fas fa-gift"></i>
        <h3 class="titles-footer">Envio gratis desde $2.500</h3>
        <p class="text-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es
            un beneficio de Mercado Puntos.</p>
        <i class="fas fa-user-shield"></i>
        <h3 class="titles-footer">Seguridad de principio a fin</h3>
        <p class="text-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
            estás siempre protegid@.</p>
        <h3 class="copyright-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
</body>