* {
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
}

/* HEADER -------- Inicio */

body {
    background-color: #ebebeb;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.search-bar input {
    width: 85%;
    font-family: 'Roboto';
}

.fill-top-bar {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding-top: 7px;
}

.bottom-bar{
    margin-top: 12px;
}

.humburger-menu {
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.navbar {
    display: none;
}

.navbar ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
} 

.navbar a {
    text-decoration: none;
    color: #666;
    display: inline-block;
    padding: 5px 0px;
    font-size: 16px;
}
/* HEADER ----------- Fin */

/* BANNER ------- Inicio */

.banner {
    width: 100%;
}

/* BANNER -------- Fin */

/* MAIN ----------- Inicio */

.main {
    width: 90%;
    margin: auto;
}

.main h2 {
    font-size: 24px;
    margin: 15px 0px;
}

.product-box {
    background-color: #fff;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
    border-top: solid #ebebeb;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
}

.product-info i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}

.precios-main {
    font-size: 18px;
    font-weight: bold;
    width: 30%;
}

.descuento-main {
    font-size: 16px;
    color: #39b54a;
    padding-top: 4px;
    width: 70%;
}

.descripcion-main {
    font-size: 16px;
    padding-top: 20px;
    display: none;
}

.img-main {
    width: 100%;
    padding-top: 10px;
}

/* MAIN -----------  Fin */

/* FOOTER ------------  Inicio */

.main-footer {
    text-align: center;
}

.main-footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    padding-top: 15px;
}

.text-footer {
    font-size: 12px;
}

.copyright-footer {
    text-align: start;
    font-size: 12px;
    padding-top: 15px;
    font-weight: 500;
}

/* FOOTER ------------  Fin */

/* Media Query -------- Inicio */

/* Celular */
@media (max-width: 767px) {
    /* HEADER -------- Inicio */
    .top-bar {
        align-items: center;
    }
    
    .logo {
        width: 50%;
    }
    .search-bar{
        width: 50%;
    }

    .fill-top-bar{
        margin: auto;
    }
    /* HEADER -------- Fin */
}

/* Tablet */

@media (min-width: 768px) {
    /* HEADER -------- Inicio */
    .top-bar, .navbar {
        margin: auto;
    }
    
    .top-bar {
        display: flex;
        flex-wrap: wrap;
    }
    .logo {
        width: 33%;
    }

    .search-bar {
        width: 33%;
    }

    .fill-top-bar {
        width: 33%;
    }

    .search-bar input {
        width: 90%;
    }

    .humburger-menu {
        display: none;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar ul {
        display: flex;
    }
    .navbar li {
        margin: 0px 5px;
    }
    /* HEADER -------- Fin */
    /* MAIN --------------- Inicio */
    .Section-ultima-visita {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .section-ofertas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product-box {
        box-shadow: 0px 0px 10px gray;
        width: 47%;
        margin-top: 15px;
    }
    .descripcion-main {
        display: inline-block;
    }
    /* MAIN --------------- Fin */
}

/* Desktop */

@media (min-width: 1200px){
    /* HEADER -------- Inicio */
    .top-bar, .navbar {
        max-width: 1200px;
        margin: auto;
    }
    .navbar {
        margin-top: 50px;
    }

    .top-bar {
        align-items: center;
    }

    .search-bar input {
        width: 94%;
    }

    .navbar li {
        margin: 0px 10px;
    }

    .fill-top-bar {
        max-width: none;
        font-weight: 400;
    }
    /* HEADER -------- Fin */
    /* MAIN --------------- Inicio */
    .product-box {
        box-shadow: 0px 0px 10px gray;
        width: 23%;
        margin-top: 15px;
    }
    /* MAIN --------------- Fin */
}

/* Media Query -------- Fin */

/* COLORES ---
    Amarrillo #EAC926
    Azul: #03264C
    Celeste: #1259c3
    Gris oscuro: #666
    Gris claro: #ebebeb
    Verde: #39b54a*/

/* Tamaños Tipográficos ---
    Cuerpos de texto: 12px
    Titulares Ultima Visita y Ofertas : 24px
    Precios: 18px
    Descuentos 16px
    Descripciones:16px*/