* {
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
}

/* HEADER -------- Inicio */

body {
    background-color: #ebebeb;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.search-bar input {
    width: 85%;
    font-family: 'Roboto';
}

.fill-top-bar {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding-top: 7px;
}

.bottom-bar {
    margin-top: 12px;
}

.humburger-menu {
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.navbar {
    display: none;
}

.navbar ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.navbar a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0px;
    font-size: 16px;
}

/* HEADER ----------- Fin */

/* BANNER ------- Inicio */

.banner {
    width: 100%;
}

/* BANNER -------- Fin */

/* MAIN HOME ----------- Inicio */

.main {
    width: 90%;
    margin: auto;
}

.main h2 {
    font-size: 24px;
    margin: 15px 0px;
}

.section-ofertas {
    margin-bottom: 22px;
}

.product-box {
    background-color: #fff;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
    border-top: solid #ebebeb;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
}

.product-info i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}

.precios-main {
    font-size: 18px;
    font-weight: bold;
    width: 30%;
}

.descuento-main {
    font-size: 16px;
    color: #39b54a;
    padding-top: 4px;
    text-align: center;
    width: 70%;
}

.descripcion-main {
    font-size: 16px;
    padding-top: 20px;
    display: none;
}

.img-main {
    width: 100%;
    padding-top: 10px;
}

.product-info:hover i {
    transform: rotate(-90deg);
    animation-duration: 1000ms;
}

/* MAIN HOME -----------  Fin */

/* MAIN LOGIN -----------  Inicio */

.form-login {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 15px;
    width: 75%;
    text-align: center;
}

.form-login input {
    width: 70%;
}

.usuario-pass {
    width: 100%;
    font-size: 20px;
    margin: 10px;
}

.usuario-login {
    margin: 20px 0px;
}

.usuario-login input {
    border-radius: 10px;
    padding: 5px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06)
}

.pass-login {
    margin: 20px 0px;
}

.pass-login input {
    padding: 5px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06)
}

.form-login a {
    width: 100%;
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.enviar-boton {
    border-radius: 10px;
    padding: 5px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06)
}

.enviar-boton:hover {
    background-color: #1259c3;
    color: white;
}

/* MAIN LOGIN -----------  Fin */

/* MAIN REGISTER -----------  Inicio */

.form-register {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 15px;
    width: 75%;
}

.form-register h2 {
    margin: 12px 6px;
    width: 100%;
}

.form-register input {
    width: 100%;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    margin: 15px;
    overflow: hidden;
}

.perfil-box {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.comprador {
    width: 50%;
    text-align: center;
}

.comprador input {
    width: auto;
}

.vendedor {
    width: 50%;
    text-align: center;
}

.vendedor input {
    width: auto;
}

.intereses-box {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.box1-intereses {
    width: 50%;
    text-align: center;
}

.box1-intereses input {
    width: auto;
}

.box2-intereses {
    width: 50%;
    text-align: center;
}

.box2-intereses input {
    width: auto;
}

.foto-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.foto-box h2 {
    width: 100%;
}

.foto-box input {
    width: 100%;
}

.botones-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.enviar-boton-register {
    width: 100%;
    text-align: center;
}

.enviar-boton-register input {
    width: auto;
    color: white;
    background-color: #1259c3;
    border-radius: 10px;
    padding: 5px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06)
}

.reset-boton-register {
    width: 100%;
    text-align: center;
}

.reset-boton-register input {
    width: auto;
    color: white;
    background-color: #1259c3;
    border-radius: 10px;
    padding: 5px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06)
}

/* MAIN REGISTER -----------  Fin */

/* FOOTER ------------  Inicio */

.main-footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: white;
}

.main-footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    padding-top: 15px;
}

.main-footer i:hover {
    color: #39b54a;
}

.upper-row-footer {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.credit-card-footer {
    width: 30%;
}

.gift-footer {
    width: 30%;
}

.seguridad-footer {
    width: 30%;
}

.lower-row-footer {
    width: 100%;
}

.text-footer {
    font-size: 12px;
}

.copyright-footer {
    text-align: start;
    font-size: 12px;
    padding-top: 15px;
    font-weight: 500;
}

/* FOOTER ------------  Fin */

/* Media Query -------- Inicio */

/* Celular */
@media (max-width: 767px) {

    /* HEADER -------- Inicio */
    .top-bar {
        align-items: center;
    }

    .top-bar a {
        width: 50%;
    }

    .search-bar {
        width: 50%;
    }

    .fill-top-bar {
        margin: auto;
    }

    /* HEADER -------- Fin */

    /* MAIN LOGIN --------------- Inicio */

    .main-login {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
    /* MAIN LOGIN --------------- Fin */
}

/* Tablet */

@media (min-width: 768px) {

    /* HEADER -------- Inicio */
    .top-bar,
    .navbar {
        margin: auto;
    }

    .top-bar {
        display: flex;
        flex-wrap: wrap;
    }

    .top-bar a {
        width: 33%;
    }

    .search-bar {
        width: 33%;
    }

    .fill-top-bar {
        width: 33%;
    }

    .search-bar input {
        width: 90%;
    }

    .humburger-menu {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar ul {
        display: flex;
    }

    .navbar li {
        margin: 0px 5px;
    }

    /* HEADER -------- Fin */

    /* MAIN HOME --------------- Inicio */
    .Section-ultima-visita {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .section-ofertas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product-box {
        width: 47%;
        margin-top: 15px;
    }

    .product-info:hover .descripcion-main {
        display: inline-block;
    }

    .product-box:hover {
        box-shadow: 0px 0px 30px gray;
    }

    /* MAIN HOME --------------- Fin */

    /* MAIN LOGIN --------------- Inicio */

    .main-login {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65vh;
    }
    /* MAIN LOGIN --------------- Fin */

}

/* Desktop */

@media (min-width: 1200px) {

    /* HEADER -------- Inicio */
    .top-bar,
    .navbar {
        max-width: 1200px;
        margin: auto;
    }

    .navbar {
        margin-top: 50px;
    }

    .top-bar {
        align-items: center;
    }

    .search-bar input {
        width: 94%;
    }

    .navbar li {
        margin: 0px 10px;
    }

    .fill-top-bar {
        max-width: none;
        font-weight: 400;
    }

    /* HEADER -------- Fin */
    /* MAIN HOME --------------- Inicio */

    .main {
        max-width: 1200px;
    }

    .product-box {
        box-shadow: 0px 0px 10px gray;
        width: 24%;
        margin-top: 15px;
    }

    /* MAIN HOME --------------- Fin */
    /* MAIN LOGIN --------------- Inicio */

    .main-login {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65vh;
    }

    .form-login {
        max-width: 1200px;
    }

    /* MAIN LOGIN --------------- Fin */

    /* MAIN Register --------------- Inicio */
    .form-register {
        max-width: 1200px;
    }

    /* MAIN Register --------------- Fin */
}

/* Media Query -------- Fin */

/* COLORES ---
    Amarrillo #EAC926
    Azul: #03264C
    Celeste: #1259c3
    Gris oscuro: #666
    Gris claro: #ebebeb
    Verde: #39b54a*/

/* Tamaños Tipográficos ---
    Cuerpos de texto: 12px
    Titulares Ultima Visita y Ofertas : 24px
    Precios: 18px
    Descuentos 16px
    Descripciones:16px*/